*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.cards-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    color: #4d4d4d;
    max-width: 360px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.game {
    width: 100%;
    padding: 10px;
}

/* HEADER */

.header {
    padding: 10px 5px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

/* STAGE */

.stage {
    height: 400px;
    position: relative;
}

/* INTRODUCTION */

.introduction {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* QUEUE */

.group {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.enemy .portrait {
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.enemy .health {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
    font-size: 1.2rem;
}

.hero:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1000;
}

.hero-points {
    background-color: #f5f5f5;
    padding: 5px 20px;
    text-align: right;
}

.hero-portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.hero-health {
    background-color: #f5f5f5;
    padding: 5px 20px;
    text-align: left;
}

/* TEAM */

.team {
    display: flex;
    align-items: stretch;
}

.slot {
    flex: 1 0 21%;
    height: 90px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    user-select: none;
}

.slot.active {
    border: none;
}

.slot.active .card {
    margin: 0;
}

.slot .card {
    opacity: 1;
}

/* CARDS */

.card {
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    user-select: none;
    opacity: 0.5;
    background-color: #f5f5f5;
}

.group.active .card {
    cursor: pointer;
    opacity: 1;
}

.group.active .card:hover {
    border-color: #4d4d4d;
}

.card .attack {
    position: absolute;
    top: 5px;
    left: 5px;
}

.card .energy {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card .clock {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.03);
}